body { background: url("imagenes/fondo6.png")

no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}








#centrador{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: red;
}

#imagen{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.text {
    width: 200px;
    height: 100px;
    background-color: transparent;
    padding: 10px;
    color: #0000FF;
    position: absolute;
    z-index: 1;
}

.sombra{

    text-shadow: black 0.1em 0.1em 0.2em
}

.sombraOrange{
    color: orange;
    text-shadow: black 0.1em 0.1em 0.2em
}

.sombraBrowm{
    color: brown;
    text-shadow: black 0.1em 0.1em 0.2em
}

.letraContorno{
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black}
